*.egg-info
*.idea/*
data/*
docs/*
scripts/annotate_data/dimensions/elinguistics/distances_sparse_elinguistics.csv
scripts/annotate_data/dimensions/hofstede/hofstede-insights.csv
scripts/annotate_data/dimensions/hofstede/hofstede-insights.json
*.DS_Store